<!DOCTYPE html>
<html lang="es">
  <head th:replace="~{header-fragment :: headertag(title=${titulo})}">

  <body>
    <div th:replace="~{navegacion :: menu}"></div>
    <div class="content">
      <form th:action="@{/categorias/guardar/}" method="post" th:object="${categoria}">
        <div class="header-form">
          <h1 th:text="${titulo}"></h1>
        </div>
        <div class="content-form">
          <input th:field="*{id}" type="hidden" />
          <div class="group-field">
            <label for="numero">Nombre</label>
            <input th:field=*{nombre} type="text" autofocus required/>
          </div>
          <div class="group-field">
            <label for="urlImagen">URL de imagen</label>
            <input th:field="*{urlImagen}" type="text">
          </div>
          <div class="group-field">
            <label for="precio">Precio en soles</label>
            <input th:field="*{precio}" type="number" required min="1.0" step="0.1" >
          </div>
          <div class="group-field">
            <label for="descripcion">Descripción</label>
            <input th:field="*{descripcion}" type="text">
          </div>
          <div class="group-field">
            <label for="temporadaAltaInicio">Temporada alta - inicio</label>
            <input th:field="*{temporadaAltaInicio}" type="date">
          </div>
          <div class="group-field">
            <label for="temporadaAltaFin">Temporada alta - fin</label>
            <input th:field="*{temporadaAltaFin}" type="date">
          </div>
          <div class="group-field">
            <label for="precioTemporadaAlta">Precio en temporada alta (S/.)</label>
            <input th:field="*{precioTemporadaAlta}" type="number" min="0" step="0.1">
          </div>
        </div>
        <div class="actions-form">
          <button type="submit">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M10.9091 1.53409C10.9091 1.30805 10.8193 1.09128 10.6595 0.931443C10.4996 0.771611 10.2829 0.681818 10.0568 0.681818C9.83079 0.681818 9.61401 0.771611 9.45418 0.931443C9.29434 1.09128 9.20455 1.30805 9.20455 1.53409V9.20455H1.5341C1.30806 9.20455 1.09128 9.29434 0.931449 9.45417C0.771617 9.614 0.681824 9.83078 0.681824 10.0568C0.681824 10.2829 0.771617 10.4996 0.931449 10.6595C1.09128 10.8193 1.30806 10.9091 1.5341 10.9091H9.20455V18.5795C9.20455 18.8056 9.29434 19.0224 9.45418 19.1822C9.61401 19.342 9.83079 19.4318 10.0568 19.4318C10.2829 19.4318 10.4996 19.342 10.6595 19.1822C10.8193 19.0224 10.9091 18.8056 10.9091 18.5795V10.9091H18.5796C18.8056 10.9091 19.0224 10.8193 19.1822 10.6595C19.342 10.4996 19.4318 10.2829 19.4318 10.0568C19.4318 9.83078 19.342 9.614 19.1822 9.45417C19.0224 9.29434 18.8056 9.20455 18.5796 9.20455H10.9091V1.53409Z"
                fill="black" />
            </svg>
            <span th:text="${txtboton}"></span>
          </button>
          <button id="btn-close"><span>Cancelar</span></button>
        </div>
      </form>
    </div>

    <script th:src="@{/js/script.js}"></script>
    <script th:src="@{/js/script-forms.js}"></script>
  </body>
</html>
